<%= render 'publics/navbar' %>
<div class="page-container">
  <div class="content">
    <div class="container">
      <div class="page-content">
        <h1>Posts</h1>
        <div class="table-responsive page-content">
          <table class="table table-hover">
        <% @posts.each do |post| %>
              <tr>
                <td class="text-center">
                  <strong><%= post.title %></strong>
                </td>
                <td class="text-center">
                  <%= post.description %>
                </td>
              </tr>
        <% end %>
      </table>
    </div>
      </div>
    </div>
  </div>
  <%= render 'publics/footer' %>
</div>
